<launch>
  <arg name="optitrack" default="false"/>
  <arg name="multimaster" default="false"/>
  <arg name="jaco" default="false"/>
  <arg name="baxter" default="false"/>
  
  <group if="$(arg jaco)">
    <include file="$(find kinova_api)/launch/kinova_api.launch"/>
    <node name="jaco_cooking_env" pkg="robot_cooking" type="make_env_node.py" respawn="false" output="screen" args="$(arg optitrack) jaco"/>
  </group>

  <group if="$(arg baxter)">
    <include file="$(find baxter_api)/launch/baxter_api.launch"/>
    <node name="baxter_cooking_env" pkg="robot_cooking" type="make_env_node.py" respawn="false" output="screen" args="$(arg optitrack) baxter"/>
    <include file="$(find robot_cooking)/launch/darknet_ros.launch"/>
  </group>

  
  <group if="$(arg optitrack)">
    <include file="$(find vrpn_client_ros)/launch/sample.launch">
      <arg name="server" value="optitrack"/>
    </include>
  </group>
  
  <group if="$(arg multimaster)">
    <include file="$(find robot_cooking)/launch/master_discovery.launch"/>
    <include file="$(find robot_cooking)/launch/master_sync.launch"/>
  </group>
  
  

</launch>
