<launch>
  <arg name="optitrack" default="false"/>
  <arg name="multimaster" default="false"/>
  <arg name="robot" default="jaco"/>
  
  <!-- <include file="$(find kinova_api)/launch/kinova_api.launch"/> -->

  <group if="$(arg optitrack)">
    <include file="$(find vrpn_client_ros)/launch/sample.launch">
      <arg name="server" value="optitrack"/>
    </include>
  </group>
  
  <group if="$(arg multimaster)">
    <include file="$(find robot_cooking)/launch/master_discovery.launch"/>
    <include file="$(find robot_cooking)/launch/master_sync.launch"/>
  </group>
  
  
  <node name="$(arg robot)_cooking_env" pkg="robot_cooking" type="make_env_node.py" respawn="false" output="screen" args="$(arg optitrack) $(arg robot)"/>

</launch>
