<launch>
  <arg name="jaco" default="false"/>
  <arg name="baxter" default="false"/>
  <arg name="run_aut" default="false"/>
  <arg name="dry_run" default="true"/>
  <arg name="multirobot" default="false"/>
  <arg name="visdom" default="false"/>
  <arg name="zmq_baxter_port" default="7788"/>
  <arg name="zmq_jaco_port" default="5566"/>
  <arg name="zmq_aut_port" default="8899"/>
  <arg name="msg_system" default="ros"/> <!--this can be "ros" or "zmq"-->

  
  <group if="$(arg jaco)">
    <node name="jaco_cooking_node" pkg="robot_cooking" type="run_robot_node.py" respawn="false" output="screen" args="jaco $(arg dry_run) $(arg zmq_jaco_port) $(arg zmq_aut_port) $(arg msg_system)"/>
  </group>

  <group if="$(arg baxter)">
    <node name="baxter_cooking_node" pkg="robot_cooking" type="run_robot_node.py" respawn="false" output="screen" args="baxter $(arg dry_run) $(arg zmq_baxter_port) $(arg zmq_aut_port) $(arg msg_system)"/>
  </group>
  
  <group if="$(arg run_aut)">
    <node name="aut_node" pkg="robot_cooking" type="run_automata_node.py" respawn="false" output="screen" args="$(arg zmq_aut_port) $(arg zmq_jaco_port) $(arg zmq_baxter_port) $(arg msg_system) $(arg baxter)  $(arg jaco)"/>
  </group>

  <group if="$(arg visdom)">
    <node name="visdom_node" pkg="robot_cooking" type="automata_visdom_node.py" respawn="false" output="screen" args="$(arg baxter) $(arg jaco)"/>
  </group>
 
  
</launch>
